.container_sidemu {
  width: 100px;
  height: 95%;
  background-color: black;
  position: fixed;
  left: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
